@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Cristian David Ramirez Zuluaga<br />
    Ingeniero en Sistemas<br />
    <abbr title="Phone">P:</abbr>
    3215880481
</address>

<address>
    <strong>Email:</strong>   <a href="">cdrz01@gmail.com</a><br />
    <strong>Linkedin:</strong> <a href="https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile">Perfil</a>
</address>