@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>
        newshore_
    </h1>
    <p class="lead">Somos una compañía multinacional (Con sede principal en Barcelona y tenemos en Colombia nuestra sede ubicada en la ciudad de Manizales, 
        desarrollamos software en diferentes plataformas como .Net, para clientes que se especializan en ofrecer servicios en el área de Travel dirigida a clientes europeos (Especialmente aerolíneas).
    </p>
    <p><a href="https://www.newshore.es/" class="btn btn-primary btn-lg">Leer mas... &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Solutions</h2>
        <p>
            A flexible, new generation, internet booking engine that boosts your 
            online tickets and ancillary sales while giving you unprecedented levels 
            of flexibility to manage your content and offerings
        </p>
        <p><a class="btn btn-default" href="https://www.newshore.es/home/solution/internet-booking-engine/">Explore &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Solutions</h2>
        <p>Unlock the valuable insights hidden in your data with our Enterprise Data Warehouse solution. A user-friendly way to manage your PSS data, identify all the relevant bits and use them to drive sales</p>
        <p><a class="btn btn-default" href="https://www.newshore.es/home/solution/enterprise-data-warehouse/">Explore &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Solutions</h2>
        <p>Turbocharge your marketing in one go with this comprehensive package that allows you to easily attract, engage and manage your customers. Available together or by modules, this set of advanced marketing solutions will help you see your revenue and customer satisfaction go through the roof, while you keep costs at a minimum.</p>
        <p><a class="btn btn-default" href="https://www.newshore.es/home/solution/airline-marketing-solution/">Explore &raquo;</a></p>
    </div>
</div>